.martyr-video {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.backdrop {
  background: rgba(0, 0, 0, 0.55);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

* {
  width: 100%;
  color: white;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
  width: 100vw;
  box-sizing: content-box;
  margin: 0;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  padding: 0;
  margin: 0;
  line-height: -2px;
}

p {
  font-size: small;
  line-height: 1.3rem;
  margin: 1rem 0;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: black;
  color: rgba(128, 128, 128, 0.608);
  font-size: small;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5em;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



