.container-body-innocent {
  height: 100vh;
  width: 90%;
  margin: auto;
  margin-top: 14em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container-body-innocent {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7em;
  }
}

.innocent__header {
  margin: 2em;
  width: 50%;
  height: 100%;
}

.innocent__header--intro {
  margin-top: 2em;
}
.innocent__header--intro-crossout {
  text-decoration: line-through;
}

.innocent__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media (max-width: 768px) {
  .innocent__header,
  .innocent__content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.innocent__content--video-wrapper {
  width: 40%;
  margin: 0.5em;
}

@media (max-width: 768px) {
    .innocent__content--video-wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

.innocent__content__video-icon {
  width: 100%;
}
