.container-body-reading {
  height: 100%;
  width: 100%;
  padding-top: 8vh;
  background-size: cover;
  background-position: center;
}

.hero {
  border-radius: 25px;
}

.further-reading {
  width: 90%;
  height: 90%;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 15vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin: auto;
}

p {
  text-align: justify;
}

div > ul {
  display: inline;
  list-style: none;
  text-align: justify;
  padding: 0;
  line-height: 2em;
  font-size: small;
}

.reading-category-card-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.reading-category-card {
  /* width: 40%; */
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
