.container-body-reading {
  height: 100%;
  width: 100%;
  padding-top: 20vh;
  background-size: cover;
  background-position: center;
  background: url("https://i.ibb.co/dLFj3bh/hero-reading.png") no-repeat bottom right;
  background-size: cover;
  background-position: 75% 100%;
}

.further-reading {
  display: flex;
  padding: 1.5em 2em;
  width: 65%;
  background: rgba(0, 0, 0, 0.5) url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  margin: 5em auto;
}

.further-reading__header {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.title {
  font-size: 15vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.further-reading__intro {
  text-align: center;
  margin-top: 3em;
  font-size: medium;
  /* background-color: #b9402db4; */
  /* padding: 1em;
  border-radius: 25px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

div > ul {
  display: inline;
  list-style: none;
  /* text-align: justify; */
  padding: 0;
  line-height: 2em;
  font-size: small;
}

div > ul > li {
  padding: 1em 0;
}

.reading-category-card-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.reading-category-card {
  /* width: 40%;*/
  margin: 2em; 
  display: flex;
  flex-direction: column;
}

.reading-category-card__header {
  border-bottom: 2px solid white;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
