.container-body-synopsis {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10rem;
}

@media (max-width: 768px) {
  .container-body-synopsis {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7em;
    padding-bottom: 10rem;
  }
}

.synopsis__header {
  margin: 2em;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synopsis__header h1 {
  text-transform: uppercase;
}

.synopsis__header__img {
  margin-top: 2em;
}

.synopsis__header__img img {
  border-radius: 30px;
}

.synopsis__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .synopsis__header,
  .synopsis__content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.synopsis-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  transition: 0.5s;
  display: flex;
  font-size: large;
  width: fit-content;
}

.synopsis-quote-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.synopsis-quote-link:hover:after { 
  width: 100%; 
  left: 0; 
}
