.container-body {
  height: 100%;
  width: 100%;
  padding-top: 7vh;
  background: url("https://i.ibb.co/njg8x7w/bg-synopsis.jpg");
  background-size: cover;
  background-position: center;
}
.synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  padding: 5em 0;
}

.title {
  font-size: 15vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin: auto;
}

p {
  text-align: justify;
  line-height: 25px;
  padding:0;
}

.synopsis-block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  margin: auto;
  width: 75%;
  background: rgba(0, 0, 0, 0.35) url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  flex-direction: column;
  border-radius: 25px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.synopsis-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  transition: 0.5s;
  display: flex;
  font-size: x-large;
  width:fit-content
}

.synopsis-quote-link:hover {
  color: #b93f2d;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.text-shadow-drop-center {
	-webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}


/* @media (min-width: 768px) {
  .title {
    margin: 0;
  }
} */