
.trailer {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
}

.react-player {
  height: 100vh;
  width: 90%;
  margin: auto;
  margin-top: 18em;
  margin-bottom: 7em;
}

@media (max-width: 768px) {
  .react-player {
    margin-top: 7em;
  }
}

.vp-center {
  align-items: flex-start !important;
}