.container {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    padding-top: 15rem;
  }
}

.inner-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one-column h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .one-column h1 {
    font-size: 3rem;
  }
}
.one-column .image__wrap {
  margin-bottom: 4rem;
}
.one-column .image__wrap img {
  border-radius: 30px;
  object-fit: contain;
  width: 100%;
}
.one-column * {
  color: white;
  font-family: Spartan, Arial, Helvetica, sans-serif;
}

.two-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1200px) {
  .two-column {
    flex-direction: row;
    justify-content: space-between;
  }
}
.two-column__content {
  width: 100%;
}
@media (min-width: 1200px) {
  .two-column__content {
    width: 50%;
    margin-right: 5rem;
  }
}
.two-column__content h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .two-column__content h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}
.two-column__content p {
  margin-bottom: 2rem;
}
.two-column__image {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .two-column__image {
    width: 50%;
  }
}
.two-column__image .image__wrap img {
  border-radius: 30px;
  object-fit: contain;
  width: 100%;
}
