/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  box-sizing: content-box;
  background-color: black;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.5px;
  margin: 1rem 0;
  color: white;
}

.container {
  padding: 10rem 0 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    padding: 15rem 0 10rem;
  }
}

.inner-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

.one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one-column h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .one-column h1 {
    font-size: 3rem;
  }
}
.one-column .image__wrap {
  margin-bottom: 4rem;
}
.one-column .image__wrap img {
  border-radius: 30px;
  object-fit: contain;
  width: 100%;
}
.one-column * {
  color: white;
  font-family: Spartan, Arial, Helvetica, sans-serif;
}

.two-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1200px) {
  .two-column {
    flex-direction: row;
    justify-content: space-between;
  }
}
.two-column__content {
  width: 100%;
}
@media (min-width: 1200px) {
  .two-column__content {
    width: 50%;
    margin-right: 5rem;
  }
}
.two-column__content h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .two-column__content h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}
.two-column__content p {
  margin-bottom: 2rem;
}
.two-column__image {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .two-column__image {
    width: 50%;
  }
}
.two-column__image .image__wrap img {
  border-radius: 30px;
  object-fit: contain;
  width: 100%;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.shadow-inset-center {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
.flicker-1 {
  -webkit-animation: flicker-1 2s linear infinite both;
  animation: flicker-1 2s linear infinite both;
}

@-webkit-keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%, 100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  width: 10em;
  text-decoration: none;
  background: #b93f2d;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover,
button:focus {
  background: white;
  color: #b93f2d;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

nav {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 4.5em;
  margin: 2.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
}

nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  margin-left: 0.5rem;
}

nav a:hover,
nav a:focus {
  color: #b93f2d;
}

nav li {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.innocent {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 75%; */
  text-align: center;
  font-weight: 600;
  background: #b9402db4 url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  border-radius: 50%;
  height: 125px;
  width: 125px;
  transition: 0.5s;
  /* margin: 3em 0; */
}

.innocent:hover,
.innocent:focus {
  background: #b9402d url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  color: black;
}

.innocent-submenu {
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin-top: 0.25em;
  width: 75%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.innocent-submenu > li {
  padding: 0.5em;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

li:hover > ul,
li:focus > ul {
  opacity: 1;
}

.innocent-submenu > li:hover,
.innocent-submenu > li:focus {
  background: #b9402db4 url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 90%;
}

.innocent-submenu > li:hover > a,
.innocent-submenu > li:focus > a {
  color: white;
}

/* hamburger menu */
#mobile-menu {
  display: inline;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 2.5rem;
  width: 90%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#mobile-menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
  font-family: Spartan, Arial, Helvetica, sans-serif;
  color: white;
}

#mobile-menu li:hover {
  color: #b93f2d;
}

#mobile-menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#mobile-menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#mobile-menu span:first-child {
  transform-origin: 0% 0%;
}

#mobile-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#mobile-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#mobile-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#mobile-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px 30px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 1rem 0;
  font-size: 2rem;
  color: white;
}

/*
 * And let's slide it in from the left
 */
#mobile-menu input:checked ~ ul {
  transform: none;
}

@media (min-width: 768px) {
  #desktop-menu {
    display: none;
  }

  nav {
    background: none;
  }
}
@media (max-width: 768px) {
  #desktop-menu {
    display: none;
  }

  nav {
    background: none;
  }
}
footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: black;
  color: rgba(128, 128, 128, 0.608);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Spartan, Arial, Helvetica, sans-serif;
}

.react-player {
  height: 100%;
  width: 90%;
  margin: auto;
}

.vertical-timeline-element-content {
  width: 75%;
}
@media (min-width: 768px) {
  .vertical-timeline-element-content {
    width: 90%;
  }
}

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.home .martyr-video {
  object-fit: cover;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.home__title .main-title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 90%;
}
@media (min-width: 768px) {
  .home__title .main-title {
    max-width: 90rem;
  }
}
.home__title .main-title img {
  object-fit: contain;
  width: 100%;
}
.home__title .main-subtitle {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 50%;
}
@media (min-width: 768px) {
  .home__title .main-subtitle {
    max-width: 50rem;
  }
}
.home__title .main-subtitle img {
  object-fit: contain;
  width: 100%;
}

.main-title-hover {
  transition: all 0.5s ease-in;
}

.main-title-hover:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

.reading__content {
  margin: 2em;
  height: 100%;
}

@media (max-width: 768px) {
  .reading__header,
.reading__content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
div > ul {
  display: inline;
  list-style: none;
  padding: 0;
  line-height: 2em;
  font-size: small;
}

div > ul > li {
  padding: 1em 0;
}

.reading-category-card-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.reading-category-card {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}
.reading-category-card:first-of-type {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .reading-category-card {
    margin: 5rem 0;
  }
}

.reading-category-card__header {
  border-bottom: 2px solid white;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: 2px;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
