.vertical-timeline-element-content {
  width: 75%;
}
@media (min-width: 768px) {
  .vertical-timeline-element-content {
    width: 90%;
  }
}
.vertical-timeline-element-content h3 {
  font-size: 1.8rem;
}
.vertical-timeline-element-content p {
  font-size: 1.6rem !important;
}
